body { 
    padding-top: 50px; 
    height: 50%;
	background-color: rgb(235, 252, 5);
}

td {
    border: 1px solid #0a0a0a;
    width: 20px;
    height: 20px;
}

.key {
	border: 1px solid #defc39;
	width: 20px;
    height: 20px;
    margin-right: 10px;
}

ul {
	list-style-type: none;
}

.btn-space {
	margin-right: 5px;
}

#update {
	margin-bottom: 15px; 
	margin-top: 15px;
}

.wall {
	transition : background-color 0.1s ease-in-out;
	background-color: #262b28;
	border-color: #262b28;
}

.none {
	transition : background-color 0.1s ease-in-out;
	background-color: rgb(253, 64, 6);
	border-color: #79d9ce;
}

.searching {
	transition : background-color 0.08s ease-in-out;
	background-color: #1cd4b5;
	border-color: #1cd4b5;
}

.visited {
	transition : background-color 0.08s ease-in-out;
	background-color: #e89440;
	border-color: #e89440;
}

.success {
	transition : background-color 0.08s ease-in-out;
	background-color: #31b3ff;
	border-color: #3150ff;
}

.start {
	background-color: green;
	border-color: green;
}

.end {
	background-color: rgb(247, 6, 6);
	border-color: red;
}

#bigTableContainer {
	margin-top: 50px;
}

.custom-section {
	margin-bottom: 20px;
}

#modalTitleContainer {
	padding-top: 10px;
}

#results {
	height: 87px;
	width: 100px;
	background-color: #0c0a03;
	position: fixed;
	right: 10px;
	bottom: 10px;
	color: rgb(253, 251, 251);
	font-size: 12px;
	text-align: center;
	border: 1px dashed rgb(248, 7, 7);
}

#infos {
	height: 227px;
	width: 250px;
	background-color: #0a0907;
	position: fixed;
	left: 100px;
	bottom: 170px;
	color: rgb(253, 251, 251);
	font-size: 22px;
	text-align: center;
	border: 1px dashed #ff1302;
}

#infos2 {
	height: 237px;
	width: 260px;
	background-color: #0a0907;
	position: fixed;
	right: 100px;
	bottom: 170px;
	color: rgb(253, 251, 251);
	font-size: 22px;
	text-align: center;
	border: 1px dashed #ff1302;
}

#copyright {
	height: 30px;
	width: 350px;
	background-color: #0a0907;
	position: fixed;
	left: 510px;
	bottom: 5px;
	color: rgb(253, 251, 251);
	font-size: 22px;
	text-align: center;
	border: 1px dashed #fffbfb;
}

#resultsIcon {
	margin-bottom: 3px;
	margin-top: 7px;
	font-size: 16px;
}

#duration, #length {
	padding: 3px;
}

#infoModalBtn {
	margin-left: 20px;
}

.fun-fact {
	color: rgb(247, 231, 8);
}
